---
layout: base.njk
title: Awards
---
<div class="content-page">
  <h1>Awards</h1>
  <ul>
    <li>Arts Council of Long Beach Professional Artist Grant</li>
    <li>CSU Long Beach College of the Arts Distinguished Achievement in Creative Activity, 2022</li>
    <li>Bob Cole Conservatory of Music Don Andrus Memorial Scholarship for Electronic Music, 2017</li>
    <li>Arts Council of Torrance — First Place for Outstanding Achievement in Instrumental Music, 2015</li>
    <li>City of Torrance Certificate of Recognition for Instrumental Music, 2015</li>
    <li>County of Los Angeles Commendation for Outstanding Instrumental Music, 2015</li>
    <li>California Legislature Certificate of Recognition for Outstanding Instrumental Music, 2015</li>
  </ul>
</div>
