---
layout: base.njk
title: Pile of Wires
---
<div class="content-page">
  <h1>Pile of Wires</h1>
  <p>Pile of Wires is an electronic music collective founded by Cameron Johnston, David Saldaña, and Sean Jones. Other members include Tobias Banks and Marisa Ramey. Continuing the electronic music practice founded in Laptop Ensemble at CSULB, the members strive to create a collaborative performance environment. The group has performed in a variety of venues around the Los Angeles area and in New York City.</p>
  <p><a href="https://www.pileofwires.com" target="_blank" rel="noopener">pileofwires.com</a></p>
</div>
