---
layout: base.njk
title: Video Editing
---
<div class="content-page">
  <h1>Video Editing</h1>
  <p>Below is a collection of videos that I played a part in filming and editing. I have been video editing and filming since 2017, most of which has been performances or recitals.</p>
  <p class="stub-note">Note: the video reel embedded on the original page wasn't captured in this migration pass.</p>
</div>
